[submodule "src/fast_gicp"]
	path = src/fast_gicp
	url = https://github.com/SMRT-AIST/fast_gicp.git
[submodule "src/hdl_graph_slam"]
	path = src/hdl_graph_slam
	url = https://github.com/koide3/hdl_graph_slam.git
[submodule "src/hdl_global_localization"]
	path = src/hdl_global_localization
	url = https://github.com/koide3/hdl_global_localization.git
[submodule "src/hdl_localization"]
	path = src/hdl_localization
	url = https://github.com/koide3/hdl_localization.git
[submodule "src/ndt_omp"]
	path = src/ndt_omp
	url = https://github.com/koide3/ndt_omp.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/Soralsei/realsense-ros.git
[submodule "src/robosense_simulator"]
	path = src/robosense_simulator
	url = https://github.com/tomlogan501/robosense_simulator.git
	branch = rr100
[submodule "src/realsense_gazebo_plugin/"]
	path = src/realsense_gazebo_plugin
	url = https://github.com/Soralsei/realsense_gazebo_plugin.git
[submodule "src/rslidar_laserscan"]
	path = src/rslidar_laserscan
	url = https://github.com/Soralsei/rslidar_laserscan.git
