<?xml version="1.0"?>


<launch>

  <arg name="robot_namespace" default="rr100"/>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <arg name="realsense_enabled" default="false"/>
  <arg name="gps_enabled" default="false"/>
  <arg name="rslidar_enabled" default="false"/>
  <!-- <arg name="pan_tilt_enabled" default="false"/>
  <arg name="thermal_camera_enabled" default="false"/> -->

  <group ns="$(arg robot_namespace)">

  <!-- For single master bringup, run robot control on the gazebo master -->

    <include file="$(find rr100_description)/launch/description.launch" >
      <!-- <arg name="robot_namespace" value="$(arg robot_namespace)"/> -->
      <arg name="rslidar_enabled" value="$(arg rslidar_enabled)"/>
      <arg name="realsense_enabled" value="$(arg realsense_enabled)"/>
      <arg name="gps_enabled" value="$(arg gps_enabled)"/>  
      <!-- <arg name="pan_tilt_enabled" default="$(arg pan_tilt_enabled)"/>
      <arg name="thermal_camera_enabled" default="$(arg thermal_camera_enabled)"/>   -->
    </include>
    
    <include file="$(find rr100_control)/launch/control.launch"/>
    <!-- <include if="$(arg pan_tilt_enabled )" file="$(find pan_tilt1010rs)/launch/component_control_simulation.launch"/> -->

    <group if="$(arg realsense_enabled)">

      <!-- Include poincloud_to_laserscan if simulated realsense is attached -->
      <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">

          <remap from="cloud_in" to="camera/depth/points"/>
          <remap from="scan" to="scan/realsense"/>
          <rosparam command="load" file="$(find rho_rr100_gazebo)/config/pc_to_ls.yaml"/>
      </node>

    </group>
  	<!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->

    <!-- Spawn robot in gazebo -->
    <node name="spawn_rr100_model" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model $(arg robot_namespace)" />
  </group>

</launch>
