<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
    <arg name="laserscan_topic" default="/rslidar_laserscan"
        doc="The topic in which the LiDAR laserscan data is published" />
    <arg name="pointcloud_topic" default="/rslidar_points"
        doc="The topic in which the LiDAR pointcloud data is published" />
    <arg name="imu_topic" default="/imu/data" doc="The topic in which the IMU data is published" />
    <arg name="odom_topic" default="rr100_steering_controller/odom"
        doc="The topic in which the robot's odometry data is published" />

    <arg name="gps_enabled" default="false" />
    <arg name="gps_topic" default="/ublox_node/fix"
        doc="The topic in which the robot's odometry data is published" />

    <arg name="simulated" default="false" doc="Whether the robot is simulated" />
    <arg name="use_rviz" default="true" />

    <param name="/use_sim_time" value="$(arg simulated)" />

    <arg name="map_path" default="$(find rr100_slam)/maps/map" />

    <arg name="use_pointcloud_to_laserscan_nodelet" default="false" />
    <arg name="nodelet_manager" default="rslidar_nodelet_manager" doc="Nodelet manager name" />
    <arg name="rslidar_laserscan_suffix" value="_nodelet"
        if="$(arg use_pointcloud_to_laserscan_nodelet)" />
    <arg name="rslidar_laserscan_suffix" value=""
        unless="$(arg use_pointcloud_to_laserscan_nodelet)" />

    <include
        file="$(find rslidar_laserscan)/launch/rslidar_laserscan$(arg rslidar_laserscan_suffix).launch">
        <arg name="nodelet_manager" value="$(arg nodelet_manager)"
            if="$(arg use_pointcloud_to_laserscan_nodelet)" />
        <arg name="laserscan_topic" value="$(arg laserscan_topic)" />
        <arg name="pointcloud_topic" value="$(arg pointcloud_topic)" />
    </include>

    <include file="$(find rr100_slam)/launch/online_async.launch">
        <arg name="laserscan_topic" value="$(arg laserscan_topic)" />
        <arg name="map_path" value="$(arg map_path)"/>
        <arg name="localization_only" value="true" />
    </include>

    <node name="rviz" type="rviz" pkg="rviz"
        args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz"
        if="$(arg use_rviz)" />
</launch>